<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.urgs_api.quartz.dao.QuartzTaskStatusDao">

    <select id="getFinishCount" resultType="integer">
        SELECT COUNT(1)
        FROM t_quartz_task_status
        WHERE status = 3
          AND data_date = #{dataDate}
          AND plan_id IN
        <foreach collection="dependIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="insert">
        INSERT INTO t_quartz_task_status(plan_id, data_date, status, begin_time, end_time, msg, update_time, create_time, create_date)
        VALUES (#{taskStatusEntity.planId}, #{taskStatusEntity.dataDate}, #{taskStatusEntity.status}, #{taskStatusEntity.beginTime},
                #{taskStatusEntity.endTime}, #{taskStatusEntity.msg}, #{taskStatusEntity.updateTime}, #{taskStatusEntity.createTime},
                DATE_FORMAT(#{taskStatusEntity.createTime}, '%Y%m%d'))
    </update>

    <update id="delete">
        DELETE FROM t_quartz_task_status
        WHERE plan_id = #{taskId}
          AND data_date = #{dataDate}
    </update>

    <update id="update">
        UPDATE t_quartz_task_status
        SET status = #{taskStatusEntity.status},
            msg = #{taskStatusEntity.msg},
            update_time = #{taskStatusEntity.updateTime},
            end_time = #{taskStatusEntity.endTime}
        <if test="taskStatusEntity.beginTime != null">
            , begin_time = #{taskStatusEntity.beginTime}
        </if>
        WHERE plan_id = #{taskStatusEntity.planId}
          AND data_date = #{taskStatusEntity.dataDate}
    </update>

    <select id="queryList" resultType="com.example.urgs_api.quartz.domain.dto.QuartzTaskStatusVO">
        SELECT
            s.id AS id,
            s.plan_id AS planId,
            t.task_name AS taskName,
            t.task_cron AS taskCron,
            t.remark AS remark,
            t.task_type AS taskType,
            t.url AS url,
            t.exe_path AS exePath,
            t.depend_id AS dependId,
            t.username AS username,
            t.password AS password,
            t.driver AS driver,
            t.task_system AS taskSystem,
            t.theme AS theme,
            t.period AS period,
            t.job_key AS jobKey,
            s.data_date AS dataDate,
            s.status AS status,
            s.begin_time AS beginTime,
            s.update_time AS updateTime,
            s.end_time AS endTime,
            s.msg AS msg,
            CASE WHEN s.status = '3' OR s.status = '4' THEN 'true' ELSE 'false' END AS _disabled,
            s.create_time AS createTime
        FROM t_quartz_task_status s
                 INNER JOIN t_quartz_task t ON s.plan_id = t.id
        WHERE 1 = 1
        <if test="queryDTO.beginDate != null and queryDTO.beginDate != ''">
            AND s.create_date = #{queryDTO.beginDate}
        </if>
        <if test="queryDTO.dataDate != null and queryDTO.dataDate != ''">
            AND s.data_date = #{queryDTO.dataDate}
        </if>
        <if test="queryDTO.id != null">
            AND t.id = #{queryDTO.id}
        </if>
        <if test="queryDTO.taskName != null and queryDTO.taskName != ''">
            AND INSTR(t.task_name, #{queryDTO.taskName})
        </if>
        <if test="queryDTO.taskSystem != null and queryDTO.taskSystem != ''">
            AND INSTR(t.task_system, #{queryDTO.taskSystem})
        </if>
        <if test="queryDTO.theme != null and queryDTO.theme != ''">
            AND INSTR(t.theme, #{queryDTO.theme})
        </if>
        <if test="queryDTO.status != null and queryDTO.status != '99'">
            AND s.status = #{queryDTO.status}
        </if>
        ORDER BY s.update_time DESC
    </select>

    <select id="queryYlList" resultType="com.example.urgs_api.quartz.domain.dto.QuartzTaskVO">
        SELECT
            t.id AS id,
            t.task_name AS taskName,
            t.task_bean AS taskBean,
            t.task_params AS taskParams,
            t.task_cron AS taskCron,
            t.task_status AS taskStatus,
            t.remark AS remark,
            t.task_type AS taskType,
            t.url AS url,
            t.exe_path AS exePath,
            t.depend_id AS dependId,
            t.username AS username,
            t.password AS password,
            t.driver AS driver,
            t.period AS period,
            t.task_system AS taskSystem,
            t.theme AS theme,
            t.`offset` AS `offset`,
            t.data_date AS dataDate,
            t.job_key AS jobKey,
            t.notification_failed AS notificationFailed,
            t.notification_completed AS notificationCompleted,
            t.update_time AS updateTime,
            t.create_time AS createTime
        FROM t_quartz_task t
                 LEFT JOIN t_quartz_task_status s ON s.plan_id = t.id AND s.data_date = #{queryDTO.dataDate}
        WHERE t.id IN
        <foreach collection="queryDTO.dependIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getWaitingList" resultType="com.example.urgs_api.quartz.domain.entity.QuartzTaskStatusEntity">
        SELECT plan_id AS planId, data_date AS dataDate, status, msg
        FROM t_quartz_task_status
        WHERE status = 1
    </select>

    <select id="getStatusByPlanIdAndDate" resultType="java.lang.Integer">
        SELECT status
        FROM t_quartz_task_status
        WHERE plan_id = #{planId}
          AND data_date = #{dataDate}
        LIMIT 1
    </select>

    <select id="getStatusBatch" resultType="com.example.urgs_api.quartz.domain.entity.QuartzTaskStatusEntity">
        SELECT id,
               plan_id AS planId,
               data_date AS dataDate,
               status,
               begin_time AS beginTime,
               end_time AS endTime,
               msg,
               create_time AS createTime,
               update_time AS updateTime
        FROM t_quartz_task_status
        WHERE plan_id IN
        <foreach collection="planIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND data_date BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="getLastSuccess" resultType="com.example.urgs_api.quartz.domain.entity.QuartzTaskStatusEntity">
        SELECT id,
               plan_id AS planId,
               data_date AS dataDate,
               status,
               end_time AS endTime
        FROM t_quartz_task_status
        WHERE plan_id = #{planId}
          AND status = 3
        ORDER BY data_date DESC
        LIMIT 1
    </select>

    <select id="selectByIds" resultType="com.example.urgs_api.quartz.domain.entity.QuartzTaskStatusEntity">
        SELECT id,
               plan_id AS planId,
               data_date AS dataDate,
               status,
               begin_time AS beginTime,
               end_time AS endTime,
               msg,
               create_time AS createTime,
               update_time AS updateTime
        FROM t_quartz_task_status
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="batchResetToWaiting">
        UPDATE t_quartz_task_status
        SET status = 1,
            begin_time = NULL,
            end_time = NULL,
            msg = #{msg},
            update_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchForceStop">
        UPDATE t_quartz_task_status
        SET status = 4,
            end_time = NOW(),
            msg = #{msg},
            update_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchForcePass">
        UPDATE t_quartz_task_status
        SET status = 3,
            end_time = NOW(),
            msg = #{msg},
            update_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
